@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
#root {
    display: flex;
    padding-top: 60px;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

.App {
    width: 100%;
}

.glass {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.remove-b{
    outline: none !important;
    border: none !important;
}

